ProyectoFinal/Connected Services/ServiceReference1/Doctores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Ver_Todo">
        <s:complexType />
      </s:element>
      <s:element name="Ver_TodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ver_TodoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SALIDA" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ENTRADA" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_HOSPITAL" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ESPECIALIDAD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APELLIDO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NOMBRE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SALIDA" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ENTRADA" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_HOSPITAL" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ESPECIALIDAD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APELLIDO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NOMBRE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID_DOCTOR" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID_DOCTOR" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Ver_TodoSoapIn">
    <wsdl:part name="parameters" element="tns:Ver_Todo" />
  </wsdl:message>
  <wsdl:message name="Ver_TodoSoapOut">
    <wsdl:part name="parameters" element="tns:Ver_TodoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarSoapIn">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="InsertarSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="DoctoresSoap">
    <wsdl:operation name="Ver_Todo">
      <wsdl:input message="tns:Ver_TodoSoapIn" />
      <wsdl:output message="tns:Ver_TodoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input message="tns:InsertarSoapIn" />
      <wsdl:output message="tns:InsertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input message="tns:ActualizarSoapIn" />
      <wsdl:output message="tns:ActualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarSoapIn" />
      <wsdl:output message="tns:EliminarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DoctoresSoap" type="tns:DoctoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ver_Todo">
      <soap:operation soapAction="http://tempuri.org/Ver_Todo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoctoresSoap12" type="tns:DoctoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ver_Todo">
      <soap12:operation soapAction="http://tempuri.org/Ver_Todo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap12:operation soapAction="http://tempuri.org/Insertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap12:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap12:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Doctores">
    <wsdl:port name="DoctoresSoap" binding="tns:DoctoresSoap">
      <soap:address location="https://localhost:44303/Doctores.asmx" />
    </wsdl:port>
    <wsdl:port name="DoctoresSoap12" binding="tns:DoctoresSoap12">
      <soap12:address location="https://localhost:44303/Doctores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>